/* General */

@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf);
}

* {
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    --green: #596D48;
}

a {
    color: inherit;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
}



/* Sidebar */

#sidebar {
    position: relative;
}

#logo_container {
    position: absolute;
    top: 20vh;
    width: 40vw;
    height: 10vw;

    display: flex;
    align-items: center;
    justify-content: center;

    background: rgb(0 0 0 / 40%);
}

#logo_container > p {
    color: white;
    font-family: odin;
    font-size: 6vw;
}

#logo_container > img {
    width: 6vw;
    height: auto;
}

#sidebar > img {
    width: 40vw;
    height: auto;
}

#credit {
    color: white;
    position: absolute;
    bottom: 12vh;
    width: 100%;
    text-align: center;
    font-size: 12px;
}



/* Content */

#content {
    background-color: hsl(0, 0%, 95%);
    display: flex;
    flex-direction: column;
}

#content > div {
    padding-left: 4vw;
}

#initial_text {
    margin-top: 10vh;
    padding-right: 12vw;
}

#content {
    font-weight: 500;
    font-size: 20px;
}

#form_container {
    background-color: white;
    padding-right: 20vw;
    padding-top: 2vh;
    padding-bottom: 4vh;
    box-shadow: grey 0px 2px 6px 0px; 
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 4vw;
    row-gap: 2vh;
}

form > div {
    display: flex;
    flex-direction: column;
    flex: 1 1 40%;
}

label {
    font-weight: 500;
    font-size: 12px;
    color: hsl(0, 0%, 30%);
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 0.2vw;;
}

input:focus {
    border-color: blue;
    box-shadow: #E5E7EB 1px 2px 2px 2px;
}

input:invalid {
    border-color: red;
}

#create_account, #question {
    margin-top: 3vh;
    margin-left: 4vw;
}

#create_account {
    border: none;
    border-radius: 6px;
    width: 16vw;
    height: 6vh;

    color: white;
    background-color: var(--green);
    font-weight: 600;
    font-size: 16px;
}

#question {
    font-size: 16px;
    font-weight: 200;
}

#question a {
    color: var(--green);
    text-decoration: none;
    font-weight: 600;
}